$bodyBgColor:#eee;
$componentsBgColor: #fff;
$trBgColor: $bodyBgColor;

$bodyColor: #222;

$trBorderSize : 2px;

body{
    font-family: roboto,arial;
    background-color: $bodyBgColor;
    color: $bodyColor;
}

.teamTable{
    cursor: context-menu;
    user-select: none;
    background: $componentsBgColor;
    display: block;
    padding: 0 10px 1px;
    margin: 20px 20px 0 20px;

    ul{
        display: flex;
        justify-content: space-around;
    }

    divHead ul{
        margin: 0;
    }
    divBody ul:first-child{
        margin-top: 0;
    }

    divBody ul{
        position: relative;
        background: $trBgColor;
        border: $trBorderSize solid gray;
    }

    .infoBoxes{
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }

    li{
        display: inline-block;
        text-align: center;
        width: 150px;
        padding: 10px;
    }

    li:first-child{
        text-align: left;
    }

    li:first-child,li:nth-child(3){
        width: 270px;
    }
}